SMTP_EMAIL=tumail@gmail.com
SMTP_PASSWORD=tu_contraseña_de_app
SMTP_DESTINATARIO=tumail@gmail.com

## Destinatario puede ser el mismo mail que el remitente para probar el flujo
## Remitente envía mail a sí mismo => Se confirman datos envíados => Posteriormente configurar para producción

FCM_PROJECT_ID=
FCM_ACCESS_TOKEN=
FCM_DEVICE_TOKEN=

## Variables de FCM
